apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: voting
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15-alpine
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_DB
          value: votedb
        - name: POSTGRES_USER
          value: uservote
        - name: POSTGRES_PASSWORD
          value: userpass
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgres-storage
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc

