name: Docker CI

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push vote-app
        uses: docker/build-push-action@v5
        with:
          context: ./vote-app
          push: true
          tags: perdita997/vote-app:latest

      - name: Build & Push worker
        uses: docker/build-push-action@v5
        with:
          context: ./worker
          push: true
          tags: perdita997/worker:latest

      - name: Build & Push result-app
        uses: docker/build-push-action@v5
        with:
          context: ./result-app
          push: true
          tags: perdita997/result-app:latest
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure kubectl
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > ~/.kube/config

      - name: Verify cluster access
        run: kubectl get nodes

      - name: Deploy manifests
        run: |
          kubectl apply -f infra/k8s/namespace.yaml
          kubectl apply -n voting -f infra/k8s/

